exclude: ^(\.idea|\.venv)
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: trailing-whitespace
      - id: check-yaml
      - id: end-of-file-fixer
      - id: check-added-large-files

-   repo: https://github.com/psf/black
    rev: 25.11.0
    hooks:
      - id: black

- repo: https://github.com/pycqa/flake8
  rev: 7.3.0
  hooks:
    - id: flake8

- repo: https://github.com/pycqa/isort
  rev: 7.0.0
  hooks:
    - id: isort
      name: isort (python)

- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.8.0
  hooks:
    - id: mypy
      additional_dependencies:
        - 'types-PyYAML'
        - "types-redis"
        - "redis>=7.1.0"
      exclude: ^tests/

-   repo: https://github.com/asottile/pyupgrade
    rev: v3.21.2
    hooks:
    -   id: pyupgrade
